#garden-video-help, #activities-video-help, #plants-video-help, #diary-video-help
{
    text-align: center;
    padding: 40px;
}

#activities-video-help, #plants-video-help, #diary-video-help
{
    display: none;
}

.garden-video-description-help
{
    padding: 0px 20px;
}

.video-help-guide
{
    border: 1px solid #307905;
}